<div class="w-full py-10 relative">
  <%= image_tag("default-analytics.webp", style: "filter: blur(4px);") %>
  <div class="absolute w-full h-full text-center top-0 flex items-center justify-center">
    <div class="card card-border border-base-300 bg-base-100 max-w-3xl p-10 shadow-2xl flex flex-col gap-y-5">
      <p class="text-3xl font-bold">Unlock Analytics with a Paid Plan 📈</p>
      <p class="text-gray-700">Analytics is available on paid plans only. Upgrade to track page views, reader engagement, and content performance—all from your Blogbowl dashboard.</p>
      <%= link_to "Upgrade Your Plan", edit_settings_billing_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>