<div class="text-center min-h-96 flex items-center flex-col justify-center">
  <h2>Oops, this page doesn’t exist 😭</h2>
  <a class="px-4 py-1 border rounded font-bold ml-2 hover:opacity-70 active:opacity-60 mt-10" href="<%= get_full_url(dynamic_prefix('/')) %>">
    Go to home page
  </a>
</div>
