<dialog id="upgrade_ai_plan_modal" class="modal">
  <div class="modal-box max-w-lg">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 text-lg text-gray-400">✕</button>
    </form>
    <div class="px-5 py-2 flex flex-col gap-y-3">
      <div class="w-16 h-16 bg-primary rounded-full flex items-center justify-center mx-auto">
        <i class="iconoir-rocket text-2xl text-white"></i>
      </div>
      <h3 class="text-3xl font-bold text-center mt-5"><%= title %></h3>
      <p class="text-center text-gray-500 text-base">
        <%= description %>
      </p>

      <div class="border-2 border-dashed rounded-lg p-5 mt-5">
        <p class="text-lg font-medium text-left text-gray-800 mb-4">AI Plan includes:</p>
        <div class="flex flex-col gap-y-3">
          <div class="flex items-center gap-x-3">
            <i class="iconoir-check-circle-solid text-green-500 text-xl"></i>
            <p class="text-gray-700">30 SEO-optimized AI-generated blog posts</p>
          </div>
          <div class="flex items-center gap-x-3">
            <i class="iconoir-check-circle-solid text-green-500 text-xl"></i>
            <p class="text-gray-700">Brand & topic research</p>
          </div>
          <div class="flex items-center gap-x-3">
            <i class="iconoir-check-circle-solid text-green-500 text-xl"></i>
            <p class="text-gray-700">Relevant forum opportunities</p>
          </div>
          <div class="flex items-center gap-x-3">
            <i class="iconoir-check-circle-solid text-green-500 text-xl"></i>
            <p class="text-gray-700">AI image generation</p>
          </div>
        </div>
      </div>

      <%= button_to "Upgrade to AI Plan", buy_plan_pages_ai_settings_path(@page), method: :post, data: { turbo: false }, class: 'btn btn-lg btn-primary mt-5 w-full' %>
      <p class="text-center text-sm text-gray-500 mt-1">Cancel anytime. No commitment.</p>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>