<dialog id="upgrade_plan_modal" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 text-lg text-gray-400">✕</button>
    </form>
    <div class="px-5 py-2 flex flex-col gap-y-3">
      <div class="w-16 h-16 bg-primary rounded-full flex items-center justify-center mx-auto">
        <i class="iconoir-bright-star text-2xl text-white"></i>
      </div>
      <h3 class="text-2xl font-bold text-center"><%= title %></h3>
      <p class="text-center text-gray-500 text-sm"><%= description %></p>

      <div class="grid grid-cols-2 gap-x-5 mt-5">
        <div class="rounded-lg border bg-base-200 p-5">
          <p class="text-lg font-medium text-gray-700">Free plan</p>
          <div class="flex flex-col mt-5 gap-y-2">
            <div class="flex items-center gap-x-2">
              <div class="h-5 w-5 border border-green-500 rounded-full flex items-center justify-center">
                <i class="iconoir-check text-green-500"></i>
              </div>
              <p class="text-sm text-gray-700">1 Author</p>
            </div>
            <div class="flex items-center gap-x-2">
              <div class="h-5 w-5 border border-gray-500 rounded-full flex items-center justify-center">
                <i class="iconoir-xmark text-gray-500"></i>
              </div>
              <p class="text-sm text-gray-700">Send newsletters</p>
            </div>
            <div class="flex items-center gap-x-2">
              <div class="h-5 w-5 border border-gray-500 rounded-full flex items-center justify-center">
                <i class="iconoir-xmark text-gray-500"></i>
              </div>
              <p class="text-sm text-gray-700">Advanced analytics</p>
            </div>
            <div class="flex items-center gap-x-2">
              <div class="h-5 w-5 border border-gray-500 rounded-full flex items-center justify-center">
                <i class="iconoir-xmark text-gray-500"></i>
              </div>
              <p class="text-sm text-gray-700">Custom domain</p>
            </div>
          </div>
        </div>
        <div class="relative rounded-lg border-2 border-primary bg-base-200 p-5">
          <div class="absolute bg-primary text-white px-4 py-px rounded-lg"
               style="right: 1rem; top: 0; transform: translateY(-50%);">
            <p class="text-xs">Recommended</p>
          </div>
          <p class="text-lg font-medium text-gray-700">Standard plan 🚀</p>
          <div class="flex flex-col mt-5 gap-y-2">
            <div class="flex items-center gap-x-2">
              <div class="h-5 w-5 border border-green-500 rounded-full flex items-center justify-center">
                <i class="iconoir-check text-green-500"></i>
              </div>
              <p class="text-sm text-gray-700">Unlimited Authors</p>
            </div>
            <div class="flex items-center gap-x-2">
              <div class="h-5 w-5 border border-green-500 rounded-full flex items-center justify-center">
                <i class="iconoir-check text-green-500"></i>
              </div>
              <p class="text-sm text-gray-700">Send newsletters</p>
            </div>
            <div class="flex items-center gap-x-2">
              <div class="h-5 w-5 border border-green-500 rounded-full flex items-center justify-center">
                <i class="iconoir-check text-green-500"></i>
              </div>
              <p class="text-sm text-gray-700">Advanced analytics</p>
            </div>
            <div class="flex items-center gap-x-2">
              <div class="h-5 w-5 border border-green-500 rounded-full flex items-center justify-center">
                <i class="iconoir-check text-green-500"></i>
              </div>
              <p class="text-sm text-gray-700">Custom domain</p>
            </div>
          </div>
        </div>
      </div>
      <%= link_to "Upgrade to Standard", edit_settings_billing_path, class: 'btn btn-lg btn-primary mt-5' %>
      <form method="dialog" class="mx-auto">
        <button class="hover:opacity-80 active:opacity-60 cursor-pointer">
          <p class="text-sm text-gray-600 text-center">Continue with Free Plan</p>
        </button>
      </form>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>