<!DOCTYPE html>
<html lang="en">
<%= render "layouts/common_head" %>

<body>
<%= render "shared/navbar" %>
<main class="ml-[364px] mr-16">
  <%= turbo_frame_tag :flash %>
  <%= yield %>
</main>
</body>
</html>
